.space{
  padding-top: 8px;
}

h5,p{
  font-family: 'Times New Roman', Times, serif;
}

p{
  font-weight: bold;
}

.modalstyle .modal-content{
  background-color: "white";
  border-radius: 10px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

